# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Exclude sourcemaps
*.map

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Deprecated code
.deprecated
*.deprecated

# ignored
.ignored
*.ignored

# Typescript config
tsconfig.json

# scripts dir
scripts